@import "tailwindcss";

@font-face {
  font-family: "zetteln";
  src: url("../src/assets/fonts/Lexend-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-stretch: 75% 125%;
}

@theme {
  --font-family-sans: "zetteln", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
